Software/GuitarPedal/build
Hardware/GuitarPedal1590b/pcb/DaisySeedPedal1590b-backups
Hardware/GuitarPedal1590b-SMD/pcb/DaisySeedPedal1590b-SMD-backups
Hardware/GuitarPedal125b/pcb/DaisySeedPedal125b-backups
Hardware/GuitarPedal125b/pcb/CustomSymbols.bak
