[submodule "Software/GuitarPedal/dependencies/DaisySP"]
path = Software/GuitarPedal/dependencies/DaisySP
url = https://github.com/electro-smith/DaisySP.git
[submodule "Software/GuitarPedal/dependencies/libDaisy"]
path = Software/GuitarPedal/dependencies/libDaisy
url = https://github.com/electro-smith/libDaisy.git
[submodule "Software/GuitarPedal/dependencies/infra"]
path = Software/GuitarPedal/dependencies/q/infra
url = https://github.com/cycfi/infra.git
[submodule "Software/GuitarPedal/dependencies/q"]
path = Software/GuitarPedal/dependencies/q/q
url = https://github.com/cycfi/q.git
[submodule "Software/GuitarPedal/dependencies/gcem"]
path = Software/GuitarPedal/dependencies/gcem
url = https://github.com/kthohr/gcem.git
[submodule "Software/GuitarPedal/dependencies/NeuralAmpModelerCore"]
path = Software/GuitarPedal/dependencies/NeuralAmpModelerCore
url = https://github.com/sdatkinson/NeuralAmpModelerCore.git
[submodule "Software/GuitarPedal/dependencies/nam-binary-loader"]
path = Software/GuitarPedal/dependencies/nam-binary-loader
url = https://github.com/tone-3000/nam-binary-loader.git
