[submodule "Software/GuitarPedal/DaisySP"]
	path = Software/GuitarPedal/DaisySP
	url = https://github.com/electro-smith/DaisySP.git
[submodule "Software/GuitarPedal/libDaisy"]
	path = Software/GuitarPedal/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "Software/GuitarPedal/infra"]
	path = Software/GuitarPedal/q/infra
	url = https://github.com/cycfi/infra.git
[submodule "Software/GuitarPedal/q"]
	path = Software/GuitarPedal/q/q
	url = https://github.com/cycfi/q.git
