name: Build All

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"

      - name: Install Arm GNU Toolchain (arm-none-eabi-gcc)
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: "10.3-2021.10"

      - name: Build Libraries
        working-directory: Software/GuitarPedal/
        run: ./ci/build_libs.sh

      - name: Prepare dist folder
        run: mkdir -p dist

      - name: Build GuitarPedal firmware 125B
        working-directory: Software/GuitarPedal/
        run: ./ci/build_app.sh VARIANT=125B
      - name: Save 125B .bin
        run: cp Software/GuitarPedal/build/guitarpedal.bin dist/125B.bin
      - name: Archive 125B artifact
        uses: actions/upload-artifact@v5
        with:
          name: 125B-Firmware
          path: dist/125B.bin

      - name: Build GuitarPedal firmware Terrarium
        working-directory: Software/GuitarPedal/
        run: ./ci/build_app.sh VARIANT=TERRARIUM
      - name: Save Terrarium .bin
        run: cp Software/GuitarPedal/build/guitarpedal.bin dist/Terrarium.bin
      - name: Archive Terrarium artifact
        uses: actions/upload-artifact@v5
        with:
          name: Terrarium-Firmware
          path: dist/Terrarium.bin

      - name: Build GuitarPedal firmware 1590B
        working-directory: Software/GuitarPedal/
        run: ./ci/build_app.sh VARIANT=1590B
      - name: Save 1590B .bin
        run: cp Software/GuitarPedal/build/guitarpedal.bin dist/1590B.bin
      - name: Archive 1590B artifact
        uses: actions/upload-artifact@v5
        with:
          name: 1590B-Firmware
          path: dist/1590B.bin

      - name: Build GuitarPedal firmware 1590B-SMD
        working-directory: Software/GuitarPedal/
        run: ./ci/build_app.sh VARIANT=1590B_SMD
      - name: Save 1590B-SMD .bin
        run: cp Software/GuitarPedal/build/guitarpedal.bin dist/1590B-SMD.bin
      - name: Archive 1590B-SMD artifact
        uses: actions/upload-artifact@v5
        with:
          name: 1590B-SMD-Firmware
          path: dist/1590B-SMD.bin

      # TODO: This would require a personal access token with repo scope to work
      # correctly with manually created releases in the Github UI
      # Upload all firmware files to the GitHub release if this is a release
      # - name: Upload firmware to GitHub Release
      #   if: github.event_name == 'release' && github.event.action == 'published'
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     files: dist/*.bin
